{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Contact</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "viewContacts" %}">View Contacts</a></li>
            <li><a href="{% url "sendMessage" %}">Send Message</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <h1>Save Contact</h1>
        <form id="contactForm" method="POST" action="{% url "saveContacts" %}">
            {% csrf_token %}
            <div class="input-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-group">
                <label for="number">Number:</label>
                <input type="tel" id="number" name="phone" required>
            </div>
            <div id="dynamicFields"></div>
            <button type="submit">Save Contacts</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>
